# Build artifacts
build/
node_modules/

# Server-side specific files
server/node_modules/
server/uploads/

# Environment variables
.env
server/.env

# IDE-specific files
.vscode/

# Logs and temporary files
logs/
tmp/
